.root{
    -fx-background-color: lightblue;
    -fx-alignment: center;
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-font-size: 200%;
    -fx-font-family: Carlito;
    -fx-vgap: 20;
    -fx-hgap: 20;
}
#deleteButton{
    -fx-alignment: center ;
    -fx-background-color: darkred;
    -fx-text-fill: white;
}
#backButton{
    -fx-alignment: top_left;
    -fx-background-color: darkred;
    -fx-text-fill: white;
}
#createButton{
    -fx-background-color: darkgreen;
    -fx-text-fill: white;
}
#separator{
/*figure out how to paint it black*/
}
#addButton{
    -fx-background-color: lightgreen;
}
.grid-pane{
    -fx-hgap: 20;
    -fx-vgap: 20;
}